@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:rgb(82,82,82);
    border-radius: 50rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(15,23,42);
  }